@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-line{
    display: grid;
    grid-template-columns: [first] 20% [line2] 20% [line3] 20% [line4] 10% [five] auto [end];
    grid-template-rows: [row1] 10% [row2] 25% [row3] 25% [row4] 25% [row5] auto [end];
}

.content-container{
    grid-column-start: line2;
    grid-column-end: end;
    grid-row-start: row2;
    grid-row-end: end;
}

.menu-bar{
    grid-column-start: line4;
    grid-column-end: end;
    grid-row-start: row1;
    grid-row-end: row2;
}

.bill-info div{
    margin: 10px;
}

.savings-checklist{
    text-decoration: line-through;
}